img{
  width:800px;  
    }
ul{color:#00BCD4;
       }
html{
background-color:#F50057;
   }
 h1{
font-family: 'Monoton', cursive;
color:yellow;
}
p{ 
  font-size:40px;
  color:yellow; 
    }
 h2{
     font-size:40px;
    color:yellow;
     } 